extends ./layout.jade

block title
	#peddler
		//- h1 Peddler

block authenticate
	#auth
		.modal
			.pinterest
				div Tell us about your pinterest
				span#pinterestUsername.editable(contenteditable="true") Username
				select.boardList.hide
			.strava.hide
				div Link your Strava
				a(href="/auth")
					img(src="/img/strava.png")