extends ./layout.jade

block title
	#peddler
		//- h1 Peddler

block authenticate
	#auth
		.modal
			div Collect some treats on pinterest, and earn them with km tracked on strava!
			.strava
				div Start by loggin into Strava
				a(href="/auth")
					img(src="/img/strava.png")