extends ./layout.jade

block title
	#peddler
		//- h1 Peddler

block authenticate
	#auth
		.modal
			.header Collect cycling goodies on Pinterest and reward yourself by putting in the distance on Strava.
			.strava
				div Start by logging into Strava
				a(href="/auth")
					img(src="/img/strava.png")