extends ./layout.jade

block title
	#peddler
		//- h1 Peddler

block history
	#history
		.title Claimed
		.bucket
			.item
			.item
			.item
			.item


block visualizer
	#visualizer
		.line
		.marker
		.label Unclaimed Miles

block calculate
	#calculate
		.fraction
			.numerator
				span#numerator.editable(contenteditable="true") Monthly Budget
				//- span.small *12
			.line
			.denominator
				span#denominator.editable(contenteditable="true") Yearly Goal
		.equals
			spam.big =
			span.small $
			span#results.result 0
			span.small per km

block authenticate
	#auth.hide
		.modal
			.strava
				div Link your Strava
				a(href="/auth")
					img(src="/img/strava.png")
			.pinterest
				div What's your Board
				span.editable(contenteditable="true") Board ID

