extends ./layout.jade

block title
	#peddler
	#about
		.name by 
			a(href="http://andrewlb.com" target="_blank") andrewlb
		//- h1 Peddler

block history
	#history
		.title Claimed
		.pin
			span.user
			span /
			span.board
		.bucket

block visualizer
	#visualizer
		.line
		.marker
			.label
				span.claimed
		.label Unclaimed Miles
		#dolla.label.right You're way under budget
		.link
			.treat Treat!
			.own Claim

block calculate
	#calculate
		.fraction
			.numerator
				span#numerator.numeric.editable(contenteditable="true") Monthly Budget
				//- span.small *12
			.line
			.denominator
				span#denominator.numeric.editable(contenteditable="true") Yearly Goal
		.equals
			spam.big =
			span.small $
			span#results.result 0
			span.small /km