body {
	width: 100%;
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-image: linear-gradient(-180deg, #71759B 0%, #706176 57%, #54555A 100%);
	font-family: 'Open Sans', sans-serif;
}

.hide {
	display:none;
}

#auth {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgba(0,0,0,.5);
	padding: 30px;
}
#auth > .modal {
	margin: 10% auto;
	width: 400px; height: 200px;	
	background-image: linear-gradient(-180deg, #71759B 0%, #706176 57%, #54555A 100%);
	background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 30px;
    border-radius: 25px;
    color: white;
    text-align: center
    text-size: 2em;
}

#auth > .modal > .strava {
	margin: 30px;
	border-color: white
	border-bottom: 1px;
}

#auth > .modal > .pinterest {
	margin: 30px;
	border-color: white
	border-bottom: 1px;
}

.boardList {
  border: 1px solid #bbb;
  border-radius: .3em;
  box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
  background: #f3f3f3; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); /* W3C */

}


#peddler {
	position: absolute;
	bottom: 0; left: 0;
	padding: 0;
	width: 40%;
	height: 400px;
	background-image:url("../img/logo.png");
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    background-size:40%;
	z-index:0;
}

#about {
	position: absolute;
	bottom: 0; right: 0;
	padding: 0;
	width: 100%;
	color: white;
	text-align: right;
	font-size: 1em;
	z-index:3;
}

#about a {
	color: white;
}

#history {
	position: absolute;
	top: 0; left: 0;
	padding: 35px;
	color: white;
}

#history > .title {
	font-size: 2em;
}

#history > .bucket {
	width:300px;
	height: 50px;
}

#history > .bucket > div > .item {
	float: left; clear: none;
	height:50px; width: 50px;
	margin:0 -25px 0 0;
	border-radius: 50px;
	background: #8A86B0;
	border: 4px solid #8A86B0;	
	transition: 1s;	
	/*display: none;*/
}

#history > .bucket > div > .item > a > img { 
	width: 100%;
	border-radius: 50px;
	height: 100%;
}

#visualizer {
	position: absolute;
	bottom: 0; left: 0;
	margin: 0; padding: 0;
	width: 100%; height: 30%;
	
}

#visualizer > .line {
	margin: 0 35px 0 35px;
	height: 20px;
	width: 100%-35px;
	border-radius: 25px;
	box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.20);
	background-image: linear-gradient(270deg, #CA7676 0%, #8984B4 44%, #979797 100%);
}

#visualizer > .marker { 
	position:absolute;
	left: 35px;top:0;
	margin-top:-27px;
	background: white;
	border-radius: 50px;
	height: 75px;
	width: 8px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);	
	transition: 1s;
}

#visualizer > .marker > .label{ 
	position:absolute;
	top: 80px;left: -20px;
	width: 50px;
	text-align:center;
	color: white;
}

#visualizer > .item { 
	position:absolute;
	left: 35px;top:0;
	margin-top:-127px;
	background: white;
	border-radius: 50px;
	height: 100px;
	width: 100px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);	
	opacity: inherit;
}

#visualizer > .item > a > img { 
	width: 100%;
	border-radius: 50px;
	height: 100%;
	opacity: inherit;
}

#visualizer > .label {
	margin: .3em 5% 0 5%;
	font-size: 1em;
	color: #969699;
} 

#visualizer > .label.right {
	position:absolute;
	top: 20px; right: 0;
	display: none;
	transition: opacity 1s;
}

#visualizer > .link {
	position:absolute;
	top:0; left: 0;
	margin-top:-227px;
	margin-left: -60px;
	background: #8A86B0;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.22);
	border-radius: 100px;
	font-size: 1em;
	color: #FFFFFF;
	height: 62px; width: 240px;
	display:none;
	overflow: hidden
}

#visualizer > .link > .treat {
	float: left; clear: none;
	width: 60%; height: 62px;
	margin: 0 auto;
	text-align: center;
	line-height: 62px;
	background: #8A86B0;
}
#visualizer > .link > .treat:hover {
	background: #6F69AC;
	box-shadow: 0px 11px 4px 0px rgba(0,0,0,0.22);
	transition: .5s;
	transition: box-shadow 0.3s ease-in-out:

}
#visualizer > .link > .treat:active {
	background: #E2E1EC;
	color: white;
	transition: .5s;
}

#visualizer > .link > .own {
	float: left; clear: none;
	font-size: .5em;
	width: 40%; height: 62px;
	border-left: 1px;
	border: 0 solid white;
	line-height: 62px;
	text-align: center;
	background: #7B7292;

}
#visualizer > .link > .own:hover{
	background: #605480;
	box-shadow: 0px 11px 4px 0px rgba(0,0,0,0.22);
	transition: .5s;
	transition: box-shadow 0.3s ease-in-out:
}

#visualizer > .link > .own:active{
	background: #E2E1EC;
	color: white;
	transition: .5s;
}

#calculate {
	position: absolute;
	top: 35px; right: 35px;
	width: 350px; height: 20%;
	/*padding: 20px;*/
	color: white;
	text-align: center;
}

#calculate > div {
	margin: 0; padding: 0;
}

.fraction {
	position:absolute;
	top: 0; left: 0;
	height: 100%; width: 100%;

}

.denominator, .numerator {
	position:absolute;
	top: 0; right: 25%;
	width: 100%; height: 0em;
}

.denominator {
	top: 3.3em!important;
}

.equals {
	position:absolute;
	top:1.3em; right: 0;
	width: 40%;
	/*padding-top:15%!important;*/
}

.fraction > .line {
	position:relative;
	top: 3em; right: 25%;
	margin: 0 25% 0 25%;
	border-top:1px solid white;
}

span {
	padding: 10px;
}

span.editable {
	/*text-decoration: underline;*/
	color: rgba(255,255,255,0.3);
	font-size: 2em;
}

span.editable br {
	display:none;
}

span.small {
	font-size: 1em;
}

span.big {
	font-size: 2em;
}

span.result {
	font-size: 2em;
}